.card_container {
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 20px;
    width: 130px;
}

.card_img {
    width: 100px;
}
