.card_container {
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    margin: 20px auto;
    padding: 10px;
    width: 250px;
}

.card_img {
    width: 250px;
}

.card_title {
    display: block;
}
