.swiper {
    width: 100%;
    height: 30vh;
    background-color: #d9d9d9;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: 100%;
    }
}
