.information_content {
    align-items: center;
    display: flex;
    height: calc(100vh - 60px);
    justify-content: space-around;

    img {
        width: 300px;
        height: 300px;
    }

    .information_text {
        width: 300px;
        font-size: 20px;
        font-weight: 400;

        h1 {
            font-size: 20px;
            font-weight: 400;
            width: fit-content;
        }
    }
    

    .ig_button {
        background-color: #000;
        border-radius: 10px;
        color: #fff;
        font-weight: 800;
        justify-content: space-around;
        margin-left: 15%;
        padding: 15px 20px;
        text-decoration: none;
        text-transform: uppercase;

        img {
            width: 30px;
            height: auto;
            padding-right: 10px;
        }
    }
}

@media screen and (max-width: 768px) {
    .information_content {
        flex-direction: column;
        .information_text {
            text-align: center;
        }
        .ig_button {
            margin: auto;
        }
    }
}
